<h1 style="text-align: center;"> Python Pandas: Module 2 </h1>
<img
    style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/600px-Pandas_logo.svg.png" 
    alt="Our logo">
</img>

In [ ]:
### Inleiding tot Python Pandas Module 2 ###
# Welkom terug! Vandaag gaan we dieper in op enkele geavanceerde technieken voor het manipuleren van DataFrames in Pandas. 
# We verkennen de Pandas functie .groupby(), pivot-tabellen en het samenvoegen van DataFrames verkennen, met behulp van een dataset over Spotify-artiesten.

### Opdracht 1: Importeren van Pandas ###
# Eerst de Pandas-bibliotheek importeren. Pandas helpt ons om gemakkelijk met gegevens te werken.

In [2]:
import pandas as pd

In [ ]:
### Opdracht 2: Onze gegevens ###
# 1. Laten we een dataset creÃ«ren over verschillende artiesten en hun nummers op Spotify. 
# 2. Deze dataset bevat informatie over de naam van de artiest, de titel van het nummer, het aantal streams en de prijs per stream.
# 3. Converteer de dictionary naar een Pandas DataFrame
# 4. Toon het DataFrame

In [10]:
spotify_artiesten = {
    "Artiest": ["Drake", "Taylor Swift", "Ed Sheeran", "Billie Eilish", "BTS", "Ariana Grande"],
    "Titel": ["God's Plan", "Love Story", "Shape of You", "Bad Guy", "Dynamite", "7 rings"],
    "Streams": [1500000000, 300000000, 2600000000, 1900000000, 1700000000, 2100000000],
    "Prijs per stream": [0.004, 0.004, 0.004, 0.004, 0.004, 0.004],
}

spotify_df = pd.DataFrame(spotify_artiesten)

spotify_df.head()

         Artiest         Titel     Streams  Prijs per stream
0          Drake    God's Plan  1500000000             0.004
1   Taylor Swift    Love Story   300000000             0.004
2     Ed Sheeran  Shape of You  2600000000             0.004
3  Billie Eilish       Bad Guy  1900000000             0.004
4            BTS      Dynamite  1700000000             0.004

In [ ]:
### Opdracht 3: Verkennen van de DataFrame ###
# Bekijk de structuur van onze DataFrame en de eerste paar rijen met de functie .info().

In [20]:
spotify_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artiest           6 non-null      object
 1   Titel             6 non-null      object
 2   Streams           6 non-null      int64
 3   Prijs per stream  6 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes

In [ ]:
### Opdracht 4: DataFrame bewerken ###
# Eenvoudige bewerkingen uitvoeren op het DataFrame. Start met het berekenen van het totale aantal streams.

In [4]:
totaal_streams = spotify_df["Streams"].sum()
print(f"Totaal aantal streams: {totaal_streams}")

Totaal aantal streams: 10100000000

In [ ]:
### Opdracht5: Nieuwe kolom toevoegen. ###
# Voeg een nieuwe kolom toe die de totale inkomsten voor elk nummer berekent (streams * prijs per stream).

In [5]:
spotify_df["Totale inkomsten"] = spotify_df["Streams"] * spotify_df["Prijs per stream"]

spotify_df.head()

         Artiest         Titel     Streams  Prijs per stream  Totale inkomsten
0          Drake    God's Plan  1500000000             0.004         6000000.0
1   Taylor Swift    Love Story   300000000             0.004         1200000.0
2     Ed Sheeran  Shape of You  2600000000             0.004        10400000.0
3  Billie Eilish       Bad Guy  1900000000             0.004         7600000.0
4            BTS      Dynamite  1700000000             0.004         6800000.0

In [ ]:
### Opdracht 6: Groeperen en aggregeren ###
# Gegevens groeperen op basis van de artiest en de totale streams per artiest berekenen.

In [7]:
groepering = spotify_df.groupby('Artiest')["Streams"].sum().reset_index()
groepering

         Artiest     Streams
0  Ariana Grande  2100000000
1            BTS  1700000000
2  Billie Eilish  1900000000
3          Drake  1500000000
4     Ed Sheeran  2600000000
5   Taylor Swift   300000000

In [ ]:
### Opdracht 7: Pivot-tabellen ###
# Maak een pivot-tabel om de totale inkomsten voor elke artiest te bekijken.

In [8]:
pivot_tabel = spotify_df.pivot_table(values='Totale inkomsten', index='Artiest', aggfunc='sum')
pivot_tabel

               Totale inkomsten
Artiest
Ariana Grande         8400000.0
BTS                   6800000.0
Billie Eilish         7600000.0
Drake                 6000000.0
Ed Sheeran           10400000.0
Taylor Swift          1200000.0

In [ ]:
### Opdracht 8: DataFrames samenvoegen ###
# Stel dat we een tweede dataset hebben met informatie over de muzieklabels van de artiesten. We kunnen deze datasets samenvoegen met .merge()

In [28]:
muzieklabels = {
    "Artiest": ["Drake", "Taylor Swift", "Ed Sheeran", "Billie Eilish", "BTS", "Ariana Grande"],
    "Label": ["Universal", "Republic", "Atlantic", "Interscope", "Big Hit", "Republic"]
}

labels_df = pd.DataFrame(muzieklabels)

samengevoegd_df = pd.merge(spotify_df, labels_df, on="Artiest")
samengevoegd_df

,Artiest,Titel,Streams,Prijs per stream,Totale inkomsten,Label
0,Drake,God's Plan,1500000000,0.004,6000000.0,Universal
1,Taylor Swift,Love Story,300000000,0.004,1200000.0,Republic
2,Ed Sheeran,Shape of You,2600000000,0.004,10400000.0,Atlantic
3,Billie Eilish,Bad Guy,1900000000,0.004,7600000.0,Interscope
4,BTS,Dynamite,1700000000,0.004,6800000.0,Big Hit
5,Ariana Grande,7 rings,2100000000,0.004,8400000.0,Republic

In [ ]:
### Conclusie ###
# In deze module hebben we geleerd hoe we meer geavanceerde DataFrame manipulatietechnieken kunnen